<div class="container">

  <h1 class="header">Update Employee</h1>

  <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="employee.name" required>
      <div class="text-danger" *ngIf="employeeForm.controls['name'].invalid && employeeForm.controls['name'].touched">
        Name is required.
      </div>
    </div>
    <div>
      <label for="designation">Designation:</label>
      <select class="form-control" id="designation" name="designation" [(ngModel)]="employee.designation" required>
        <option value="Manager">Manager</option>
        <option value="Developer">Developer</option>
        <option value="Designer">Designer</option>
        <option value="Tester">Tester</option>
      </select>
      <!-- <input type="text" id="designation" name="designation" [(ngModel)]="employee.designation" required> -->
      <br>
    </div>
    <div class="radio">
      <label for="gender">Gender:</label>
      <div class="radio-group">
        <label>
          <input type="radio" class="form-control" id="male" name="gender" value="Male" [(ngModel)]="employee.gender"required> Male
        </label>
        <label>
          <input type="radio" class="form-control" id="female" name="gender" value="Female" [(ngModel)]="employee.gender" required>Female
        </label>
        <!-- <label for="female">Female</label> -->
      </div>
      <!-- <input type="text" id="gender" name="gender" [(ngModel)]="employee.gender" required> -->
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" name="email" [(ngModel)]="employee.email" 
      required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <div *ngIf="employeeForm.controls['email']?.invalid && employeeForm.controls['email']?.touched" class="alert alert-danger">
        Please enter a valid email address.
      </div>
    </div>
    
    <div>
      <label for="phoneNo">Phone Number:</label>
      <input type="text" id="phoneNo" name="phoneNo" [(ngModel)]="employee.phoneNo" required>
    </div>
    <button type="submit" [disabled]="employeeForm.invalid">Update Employee</button>
  </form>
</div>