<!--Poppins  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<div class="container">

<div class="employee-details">
    <h2>Employee Details</h2>
    <div *ngIf="employee">
      <p><strong>ID:</strong> {{ employee.id }}</p>
      <p><strong>Name:</strong> {{ employee.name }}</p>
      <p><strong>Designation:</strong> {{ employee.designation }}</p>
      <p><strong>Phone Number:</strong> {{ employee.phoneNo }}</p>
      <!-- Add more details as needed -->
    </div>
  </div>
</div>