.container{
    font-family:  'Poppins', sans-serif;
}
.header{
    font-family:  'Poppins', sans-serif;
    font-weight: 560;
}
.row{
    padding-top: 30px;
}
.icon{
   position: relative;
   padding-left: 30px;
}
.icon1{
    color: #007bff; 
}
header.h1{
    padding-top: 30px;
}
